<div class="footersignupnewsletter">
<div class="footersignupcontent page-width">
<div class="footer-mobile">
  <div class="stamp-wrap">
    <svg width="80" height="80" viewBox="0 0 64 59" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M33.4375 29.2525L37.9034 13.052C38.0049 12.6709 38.133 12.2974 38.2868 11.9342C38.436 11.5649 38.692 11.2485 39.0219 11.0253C39.3518 10.8022 39.7407 10.6824 40.1391 10.6814L40.2363 10.3196H32.487L32.3898 10.6814H32.568C32.7424 10.673 32.9162 10.707 33.0745 10.7805C33.2328 10.8539 33.371 10.9647 33.4772 11.1033C33.5833 11.2418 33.6544 11.404 33.6841 11.576C33.7139 11.748 33.7015 11.9246 33.6481 12.0908L29.3982 27.2112C26.6711 25.1376 24.3922 23.4311 21.8379 22.2161L24.4138 12.9548C24.5153 12.5755 24.6434 12.2037 24.7972 11.8424C24.9164 11.4889 25.1461 11.1831 25.4524 10.9701C25.7587 10.7571 26.1254 10.6483 26.4983 10.6598L26.5955 10.298H18.8301L18.7329 10.6598H18.9165C19.6509 10.6598 20.2719 11.1998 19.9965 12.2798L17.6312 20.7364C8.45096 17.9176 2.36499 21.6869 1.21476 26.5794C-0.983102 35.9271 9.74699 36.5103 9.74699 36.5103L9.79559 36.0297C9.79559 36.0297 3.27762 34.6904 5.14607 27.5946C6.3071 23.1935 11.1348 21.4007 17.156 22.4483L13.7485 34.7444L12.7711 38.2654C12.6679 38.6466 12.5379 39.0202 12.3823 39.3832C12.234 39.7521 11.9791 40.0683 11.6501 40.2915C11.3211 40.5146 10.933 40.6346 10.5354 40.636L10.4382 40.9924H18.182L18.2846 40.636H18.101C17.9342 40.6325 17.7706 40.5892 17.6238 40.5097C17.4771 40.4302 17.3514 40.3168 17.2574 40.1789C17.1633 40.041 17.1036 39.8826 17.0832 39.717C17.0627 39.5513 17.0821 39.3832 17.1398 39.2266C17.1398 39.2266 21.4599 23.658 21.4599 23.6634C23.3465 24.4091 25.1132 25.428 26.7035 26.6874C27.3879 27.1976 27.9022 27.9027 28.1787 28.7102C28.4553 29.5178 28.4813 30.3901 28.2533 31.2128L27.3191 34.6311L26.3417 38.1573C26.2375 38.5366 26.1076 38.9082 25.9529 39.2698C25.827 39.6478 25.5912 39.9798 25.2757 40.2231C24.9602 40.4665 24.5792 40.6103 24.1816 40.636L24.079 40.9924H31.8282L31.9308 40.636H31.7364C31.5648 40.6391 31.3949 40.6011 31.2408 40.5254C31.0867 40.4496 30.9529 40.3383 30.8505 40.2005C30.7481 40.0627 30.68 39.9024 30.6519 39.7331C30.6237 39.5637 30.6364 39.3901 30.6888 39.2266L32.8921 31.2343L33.4375 29.2525ZM63.8727 46.0524C63.7548 45.9777 63.63 45.9144 63.5001 45.8634C63.2949 48.5634 60.1196 50.5669 55.6213 47.64C52.8402 45.8256 51.2364 43.6061 49.1411 41.5109C45.8632 38.1898 44.5024 37.7307 44.5024 37.7307C44.5024 37.7307 43.8706 37.5147 46.4626 37.4337C52.7916 37.2231 56.0101 34.9443 57.83 29.4847C58.5806 27.2274 58.8668 18.9976 47.3051 19.057H44.4268H38.3786L38.2814 19.4188H38.465C38.6394 19.4104 38.8131 19.4444 38.9715 19.5179C39.1298 19.5914 39.268 19.7021 39.3742 19.8407C39.4803 19.9792 39.5513 20.1414 39.5811 20.3134C39.6109 20.4854 39.5985 20.6621 39.5451 20.8283L36.44 32.1308L35.7919 34.4852L33.3241 43.4711L32.3466 46.992C32.2427 47.3724 32.1146 47.7457 31.9632 48.1098C31.814 48.4791 31.5581 48.7956 31.2282 49.0187C30.8982 49.2419 30.5093 49.3616 30.111 49.3627L30.0138 49.7191H37.763L37.8602 49.3627H37.6766C37.5022 49.371 37.3285 49.3371 37.1701 49.2636C37.0118 49.1901 36.8736 49.0794 36.7675 48.9408C36.6613 48.8023 36.5903 48.64 36.5605 48.468C36.5308 48.296 36.5431 48.1194 36.5966 47.9532L39.6746 36.9099C43.8814 37.3203 47.4887 48.396 52.9374 51.6361C58.7156 55.0652 64.4883 50.7343 63.8727 46.0524ZM52.8078 29.5765C50.8962 35.8893 42.7851 37.882 40.1337 35.3439C40.1337 35.3439 44.0866 20.9957 44.2378 20.6609C44.267 20.4381 44.3774 20.2339 44.5477 20.0874C44.7181 19.9409 44.9366 19.8625 45.1612 19.867C46.2034 19.8508 55.7617 19.8022 52.8078 29.5765Z" fill="white"/>
      <path d="M9.95703 14.2292C15.53 3.84469 28.1933 -1.63107 39.7065 0.447986C51.4734 2.32724 61.6851 11.9881 63.4671 23.8793C64.7794 31.4989 62.5923 39.7773 57.4784 45.5663L56.9383 45.1451C65.0386 32.6437 61.5015 15.509 48.8381 7.64099C42.8129 3.82855 35.5867 2.3891 28.5605 3.60169C21.361 4.87298 14.8832 8.75502 10.3674 14.5046L9.95703 14.2346V14.2292Z" fill="white"/>
      <path d="M49.19 53.1373C37.1963 62.701 18.0312 58.8831 10.1793 45.7931C9.11083 44.0019 8.27945 42.0796 7.70605 40.0743L8.16507 39.8745C9.23958 41.5492 10.4306 43.1462 11.7292 44.6537C14.9187 48.2496 18.8907 51.0659 23.3395 52.8858C27.7883 54.7058 32.5953 55.4809 37.3907 55.1516C41.3046 54.8738 45.1455 53.9505 48.758 52.4191L49.19 53.1373Z" fill="white"/>
    </svg>
  </div>
  <div class="contentdiv">
{% if section.settings.heading != blank %}
  <h4>{{ section.settings.heading }}</h4>
  {%  endif %}
  {% if section.settings.description != blank %}
{{ section.settings.description }}
  {%  endif %}
</div>
</div>

  <div class="content_newsletter">
     <div {{ block.shopify_attributes }}>
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <p class="email-error-news"></p>
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      Enter Email Id
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}
            </div>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Email SIgn Up",
    "settings": [
    {
    "type":"textarea",
    "id":"heading",
    "label":"Heading"
    },
    {
    "type":"richtext",
    "id":"description",
    "label":"Description"
    }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>
  $('.newsletter-form__button').click(function(e){
    var userinput = $(this).siblings('.field__input').val();
    var invalid = false;
    var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    if(userinput.length == 0 || userinput == null)
    {
      $(this).siblings('.email-error-news').text("Email Can't be Blank");
      var invalid = true;
    }
    if(!pattern.test(userinput))
    {
      $(this).siblings('.email-error-news').text('Please Enter A Valid Email!!');
      var invalid = true;
    }
    if(invalid === true){
      e.preventDefault();
    }
  });
  $('.newsletter-form__field-wrapper input').keyup(function(){
    $('.newsletter-form__field-wrapper').find('.email-error-news').text(' ');
  })

</script>